body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

/* ======================header===================================== */
header {
    height: 50px;
    background: #212121;
    color: #fff;
    position: relative;
}

.menu__items {
    display: flex;
    justify-content: space-between;
    padding: 17px 72px;
    margin: 0;
}

.menu__link {
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    border-right: 2px dotted black;
    padding-right: 50px;
}

.menu__link:hover,
.header_phone a:hover {
    color: #fff;
    text-decoration: underline;
}
.last {
    border-right: none;
    padding-right: 0;
}

.subtitle {
    background-color: rgba(0, 0, 0, 0.6);
    /* height: 90px; */
}

.logo-text {
    margin-top: 4px;
    font-weight: 200;
    font-size: 13px;
}

.header_logo {
    margin: 18px auto;
}

.header_phone {
    margin: 24px auto;
    text-align: right;
}

.header_phone a {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}

.header-btn {
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 21px auto;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
/* ====================================================================== */

/* =======================PROMO========================================== */
.promo {
    /* min-height: 800px; */
    color: #ffffff;
    background: url(../img/bg/promo_bg.jpg) center center/cover no-repeat;
}

.promo__header {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 152px;
}
.promo__subheader {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px auto 5px;
}
.promo__text {
    font-size: 18px;
    line-height: 24px;
}

.promo__button {
    width: 259px;
    height: 63px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 115px auto 186px;
    transition: 0.3s all;
    @include btn_hover;
}
/* ==================================================================== */

/* ========================WORK===================================== */

button.work__btn {
    width: 115px;
    height: 27px;
    background-color: #000;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
}
.work__title {
    font-size: 38px;
    text-transform: uppercase;
    color: #222222;
    margin-top: 33px;
}
.work__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.item-circle {
    width: 116px;
    height: 116px;
    background-color: #1eacc7;
    background-repeat: 50%;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.item-cont {
    max-width: 371px;
}
.item-title {
    color: #1eacc7;
    font-size: 17px;
    line-height: 21px;
}
.item-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}

/* ==================================================================== */

/* =======================MOBILE========================================== */
.mobile {
    background: url(../img/bg/mobile_bg.jpg) center center/cover no-repeat;
}
.mobile__items {
    position: relative;
    margin-top: 20px;
}

.mobcard-title {
    width: 100%;
    position: absolute;
    top: 85px;
    left: -45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mobitem-title {
    width: 75%;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 75px;
    text-align: center;
}

.fa-plus-circle {
    font-size: 29px;
    color: #000;
    background-color: #1eacc7;
    border-radius: 50%;
}
.mobile__text {
    font-size: 17px;
    line-height: 21px;
    color: #222222;
}
/* ==================================================================== */
