* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

/* ========Section-PROMO=========================================== */
.promo {
    background: url(../img/first_screen_bg.jpg) center center / cover no-repeat;
    color: #fff;
    /* min-height: 802px; */
    text-align: center;
    padding: 38px 0 61px;
}

.logo_text {
    margin-top: 10px;
    text-transform: uppercase;
}

h2 {
    color: #f9bf3b;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
}

h2.low {
    margin-top: 53px;
}

h1 {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    margin: 21px 0;
}

h2.hard {
    margin: 0 0 23px;
}

.promo__descr {
    max-width: 1144px;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
}

.promo__descr span {
    text-transform: uppercase;
    color: #f9bf3b;
}

.promo__btn {
    margin: 95px 0;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
}

.promo .container h3 {
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
}

/* ============================================================== */

/* ===============Section-WAITING================================= */
.waiting {
    /* min-height: 607px; */
    padding: 85px 0 75px;
    text-align: center;
    background-color: #efefef;
}

.promo__logo {
    text-align: center;
}
.title-text {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
}

.title-line {
    display: inline-block;
    width: 220px;
    height: 4px;
    background: #f9bf3b;
    margin: 18px 0;
}

.subtitle-text {
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
}

.waiting__content {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.waiting-card {
    width: 342px;
    font-size: 15px;
}

/* ========================================================= */

/* ===============Section-Optimization======================= */

.optimization__content {
    margin: 108px 0 0 390px;
}

.optimization__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization__text {
    color: #4a4a4a;
    width: 750px;
    margin: 25px 0 120px;
}

.optimization__text span {
    font-weight: 700;
}

.optimization__img {
    position: absolute;
    top: -45px;
    left: -240px;
    z-index: -1;
}

/* ========================================================= */

/* ===============Section-Finish======================= */
.finish {
    /* min-height: 447px; */
    text-align: center;
    background: url(../img/finish_learning_bg.jpg) center center / cover no-repeat;
    color: #fff;
    padding: 86px 0 67px;
}

.finish-title-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #efefef;
}

.finish-text {
    width: 234px;
}

.finish-ico {
    width: 118px;
    height: 118px;
    background-color: #b4e2ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.finish__skils {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
/* ========================================================= */

/* ===============Section-Bonus======================= */
.bonus {
    background-color: #efefef;
    /* min-height: 631px; */
    padding: 88px 0;
    text-align: center;
}

.bonus__content {
    width: 100%;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
    margin: 45px 0 51px;
}
.bonus__btn {
    margin: 0;
}
/* ========================================================= */

/* ===============Section-webinar======================= */
.webinar {
    /* min-height: 512px; */
    text-align: center;
    padding: 81px 0 53px;
    color: #4a4a4a;
}

.webinar__first {
    margin-top: 36px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
}
.webinar__time {
    margin: 30px 0 25px;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #299cbd;
}
/* ========================================================= */

/* ===============Section-Footer======================= */
.footer {
    background-color: #1a1a1a;
    padding: 57px 0 69px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
}

.footer a {
    text-decoration-line: underline;
    color: #888888;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: #efefef;
}
/* ========================================================= */

/*Responsive*/

/* 1200px - 1400px
@media screen and (max-width: 1400px) {
    .container {
        width: 1140px;
    }
} */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .waiting__content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .waiting-card:nth-last-child(1) {
        margin-top: 50px;
    }
    .optimization__title {
        font-weight: 900;
        font-size: 20px;
        line-height: 20px;
    }
    .optimization__content {
        margin-top: 55px;
    }

    .optimization__text {
        width: 100%;
        margin: 25px 0 50px;
    }

    .optimization__img {
        position: absolute;
        top: 25px;
        left: -100px;
        z-index: -1;
        width: 75%;
    }

    .finish__skils {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .finish-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
        margin-bottom: 50px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .optimization__img {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 10px;
    }

    .optimization__content {
        margin: 0;
        text-align: center;
    }

    .optimization__title {
        margin-top: 25px;
    }

    .optimization__text {
        color: #4a4a4a;
        width: 100%;
        margin: 15px 0 10px;
    }

    .optimization__text span {
        font-weight: 700;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .waiting-card {
        margin-bottom: 30px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .promo {
        padding: 28px 0 31px;
    }
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    h2.low {
        margin-top: 23px;
    }
    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .promo__descr {
        font-size: 18px;
        line-height: 28px;
    }

    .promo__btn {
        margin: 35px 0;
        width: 90%;
        height: 52px;
        font-size: 18px;
    }

    .waiting {
        padding: 35px 0 5px;
    }
    .waiting-card,
    .waiting-img {
        width: 80%;
        font-size: 15px;
    }

    .waiting-card:nth-last-child(1) {
        margin-top: 0;
    }

    .bonus {
        padding: 25px 0;
    }
    .bonus__content {
        width: 100%;
        font-size: 18px;
        line-height: 23px;
    }

    .webinar {
        padding: 41px 0 23px;
    }

    .webinar__first {
        margin-top: 16px;
        font-size: 18px;
        line-height: 21px;
    }
    .webinar__time {
        margin: 15px 0 10px;
        font-size: 26px;
        line-height: 26px;
    }

    .webinar__img {
        width: 90%;
    }
}
